/* Note: this is duplicated in StatsChart */
$red: hsl(0, 100%, 60%);
$orange: hsl(34, 100%, 54%);
$yellow: hsl(51, 100%, 50%);
$green: hsl(76, 78%, 45%);
$blue: hsl(203, 99%, 46%);
$purple: hsl(271, 68%, 32%);
$black: hsl(0, 0, 30%);

$darkBackground: hsl(0, 0, 20%);
$lightText: hsl(0, 0, 90%);


$app-bar-color: white;
