@import '../scss/colors';
@import '../scss/grid';


$colors: (
  red: $red,
  orange: $orange,
  yellow: $yellow,
  green: $green,
  blue: $blue,
  purple: $purple,
  black: $black
);

@each $color, $value in $colors {
    .#{$color} {
        background: $value;
    }
    .#{$color}--light {
        background: transparentize($value, 0.5);
    }
}

// $grid-unit: 100px;

.routeGroup {
  position: relative;
  list-style-type: none;
  height: $grid-unit;
  border-bottom: #eee solid 1px;

  button {
      height: 100%;
      width: $grid-unit;
      display: inline-block;
      background-color: transparent;
      border: none;
      border-left: 2px solid white;
      border-right: 2px solid white;
      font-size: 80px;
      color: white;
      opacity: .7;
      /* Put buttons on top of difficulty ratings */
      position: relative;
      z-index: 2;
  }
}

.routeGroupContent {
    display: inline-block;
    width: calc(100% - (2 * #{$grid-unit}));
    text-align: center;
}

.difficulty {
    position: absolute;
    font-size: 110px;
    top: 0px;
    right: 100px;
    opacity: 0.3;
    color: white;
    margin: auto;
    font-weight: bold;
}

.climbCount {
    position: relative;
    display: inline-block;
    z-index: 2;
}

.KPI {
    font-size: 60px;
    font-weight: 600;
}

@media screen and (max-width: 450px) {
    .extraText {
        display: none;
    }
}
.extraText {
    font-size: 14px;
    text-transform: uppercase;
}
