@import '../scss/colors';

.red {
    background: $red
}

.orange {
    background: $orange
}

.yellow {
    background: $yellow
}

.green {
    background: $green
}

.blue {
    background: $blue
}

.purple {
    background: $purple
}

.black {
    background: $black
}

.black, .purple {
    .climbCount {
        text-shadow: 0 0px 100px white;
    }
}

$grid-unit: 100px;

.routeGroup {
  position: relative;
  list-style-type: none;
  height: $grid-unit;
  border-bottom: #eee solid 1px;
}

.routeGroupContent {
    display: inline-block;
    width: calc(100% - (2 * #{$grid-unit}));
    text-align: center;
}

button {
    height: 100%;
    width: $grid-unit;
    display: inline-block;
    background-color: transparent;
    border: none;
    border-left: 2px solid white;
    border-right: 2px solid white;
    font-size: 80px;
    color: white;
    opacity: .7;
    /* Put buttons on top of difficulty ratings */
    position: relative;
    z-index: 2;
}

.difficulty {
    position: absolute;
    font-size: 110px;
    top: 0px;
    right: 100px;
    opacity: 0.3;
    color: white;
    margin: auto;
    font-weight: bold;
}

.climbCount {
    position: relative;
    display: inline-block;
    z-index: 2;
}

.KPI {
    font-size: 60px;
    font-weight: 600;
}

@media screen and (max-width: 450px) {
    .extraText {
        display: none;
    }
}
.extraText {
    font-size: 14px;
    text-transform: uppercase;
}
